{% extends 'base.html' %}

{% block title %}Задача{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'task_add' %}">Создать новую задачу</a><br/>
        <a href="{% url 'tasks_list_view' %}">Вернуться к списку задач</a><br/>
    </div>
    <div class="card text-center">
        <div class="card-header">
            Статус: {{ task.get_status_display }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Задача:</h5>
            <p class="card-text">{{ task.task }}</p>
        </div>
        <div class="card-footer text-muted">
            {% if task.deadline %}
                <p>Дата выполнения: {{ task.deadline }}</p>
            {% else %}
                <p>Дата выполнения: дата не определена</p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <form action="{% url 'task_delete' task.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Удалить</button>
        </form>
    </div>
{% endblock %}
