{% extends 'base.html' %}

{% block title %}Задача{% endblock %}

{% block content %}
    <div class="conteiner">
    <div class="card text-center">
        <div class="card-header">
            статус: {{ task.get_status_display }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ task.task }}</h5>
            {% if task.task_description %}
                <p class="card-text"><pre>{{ task.task_description}}</pre></p>
            {% else %}
                <p class="card-text">подробное описание задачи отсутсвует</p>
            {% endif %}

        </div>
        <div class="card-footer text-muted">
            {% if task.deadline %}
                <p>дата выполнения: {{ task.deadline }}</p>
            {% else %}
                <p>дата выполнения: дата не определена</p>
            {% endif %}
        </div>
    </div>
    </div>

    <div class="container">
        <form action="{% url 'task_delete' task.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Удалить</button>
        </form>
    </div>
{% endblock %}
