{% extends 'base.html' %}

{% block title %}Список задач{% endblock %}

{% block task-list %}{% endblock %}

{% block content %}
    <div class="container">
        <h2>Список Задач</h2>
    </div>
    <div class="container">
        {% for task in tasks %}
            <div class="list-group">
                <a href="{% url 'task_view' task.pk %}" class="list-group-item list-group-item-action"
                   aria-current="true">
                    {{ task.task }}
                </a>
            </div>
            <a class="mylink" href="{% url 'task_delete' task.pk %}">Удалить</a> &nbsp;
            <a class="mylink" href="{% url 'task_update' task.pk %}">Редактировать</a>
        {% endfor %}
    </div>
{% endblock %}