{% extends 'base.html' %}

{% block title %}Изменение задачи{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url 'task_update' task.pk %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <p><b>*</b> <i>- обязательные для заполнения поля</i></p>
                <label class="form-label">Задача <b>*</b></label>
                <input type="text" value="{{ task.task }}" required name="task" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Подробное описание</label>
                <textarea class="form-control" rows="4"
                          name="task_description">{{ task.task_description }}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Статус <b>*</b></label>
                <select class="form-select form-select-lg mb-3" name="status" aria-label=".form-select-lg">
                    <option selected value="{{ task.status }}">{{ task.get_status_display }}</option>
                    {% for choice in status_choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Дата выполнения</label>
                <input value="{{ task.deadline }}" type="text" placeholder="ГГГГ-ММ-ДД" name="deadline"
                       class="form-control">
                <div class="form-text">Пожалуйста введите дату в указанном формате!</div>
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>
{% endblock %}