{% extends 'base.html' %}

{% block title %}Задача{% endblock %}

{% if user.is_authenticated %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <div>типы:
                {% for type in task.types.all %}
                    {{ type.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div>статус: {{ task.status }}</div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ task.task }}</h5>
            {% if task.description %}
                <p class="card-text">
                <pre>{{ task.description }}</pre></p>
            {% else %}
                <p class="card-text">
                <pre>подробное описание задачи отсутсвует</pre></p>
            {% endif %}

        </div>
        <div class="card-footer text-muted">
            <p>дата создания: {{ task.created_at }}</p>
            <p>относится к проекту: {{ task.project }}</p>
        </div>
    </div>

    <div class="container">
            {% if perms.todolistapp.delete_task and request.user in task.project.users.all or request.user.is_superuser %}
            <a class="mylink" href="{% url 'todolistapp:task_delete' task.pk %}">Удалить задачу</a> &nbsp;
            {% endif %}
            {% if perms.todolistapp.change_task and request.user in task.project.users.all or request.user.is_superuser%}
                <a class="mylink" href="{% url 'todolistapp:task_update' task.pk %}">Редактировать задачу</a>
        {% endif %}
    </div>
{% endblock %}
{% endif %}
