{% extends 'base.html' %}

{% block title %}Проект{% endblock %}

{% block add-task-nav %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'todolistapp:project_task_add' project.pk %}">Добавить задачу</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <p>дата начала: {{ project.date_start }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ project.name.title }}</h5>
            <p class="card-text">
            <pre>{{ project.description }}</pre>
            </p>
        </div>
        <div class="card-footer text-muted">
            {% if project.date_end %}
                <p>дата окончания: {{ project.date_end }}</p>
            {% else %}
                <p>дата окончания: не определена</p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% if user.is_authenticated %}
            <a class="mylink" href="{% url 'todolistapp:project_delete' project.pk %}">Удалить проект</a> &nbsp;
            <a class="mylink" href="{% url 'todolistapp:project_update' project.pk %}">Редактировать проект</a>
        {% endif %}
    </div>
    <br>
    {% if project_tasks %}
        <h2>Список задач данного проекта:</h2>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for task in project_tasks %}
            <div class="list-group">
                <label for="#">
                    <a href="{{ task.get_absolute_url }}" class="list-group-item list-group-item-action">
                        {{ task.task }}
                    </a>
                </label>
            </div>
            <a class="mylink" href="{% url 'todolistapp:task_delete' task.pk %}">Удалить</a> &nbsp;
            <a class="mylink" href="{% url 'todolistapp:task_update' task.pk %}">Редактировать</a>
        {% endfor %}
        <br><br>
    {% else %}
        <h3>Список задач данного проекта пока пуст</h3>
    {% endif %}
{% endblock %}