{% extends 'base.html' %}

{% block title %}Список проектов{% endblock %}

{% if user.authenticated %}
    {% block content %}
        {% if projects %}
            <h2>Список проектов</h2>
            {% for project in projects %}
                <div class="list-group">
                    <label for="#">
                        <a href="{% url 'todolistapp:project_view' project.pk %}"
                           class="list-group-item list-group-item-action">
                            {{ project.name.title }}
                        </a>
                    </label>
                </div>
                {% if perms.todolistapp.delete_project %}
                    <a class="mylink" href="{% url 'todolistapp:project_delete' project.pk %}">Удалить</a> &nbsp;
                {% endif %}
                {% if perms.todolistapp.change_project %}
                    <a class="mylink" href="{% url 'todolistapp:project_update' project.pk %}">Редактировать</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}
{% endif %}

